@import "./home.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
